<section class="col-lg-3">
  <h2>User info</h2>
  <%= attachment_image_tag user, :profile_image, :fill, 100, 100, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg" %>
  <table class="table" style="margin-top: 130px">
    <tr>
      <th>name</th>
      <td><%= user.name %></td>
    </tr>
    <tr>
      <th>introduction</th>
      <td><%= user.introduction %></td>
    </tr>
  <% if current_user == user %>
      <tr>
        <th>follow</th>
        <td>follows:<%= user.follows.count %> followers:<%= Follow.where(follow_id: user.id).count %></td>
      </tr>
    </table>
    <%= link_to '', edit_user_path(user), class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench edit_user_#{user.id}" %>
  <% else %>
    <tr>
      <th>follow</th>
      <% if current_user.followed_by?(user) %> <!-- follow処理 -->
        <td>
          <%= link_to user_follows_path(user), method: :delete  do %>
          <i class="fa fa-heart" aria-hidden="ture" style="color: red;"></i>
          <% end %> follows:<%= user.follows.count %> followers:<%= Follow.where(follow_id: user.id).count %>
        </td>
      <% else %>
        <td>
          <%= link_to user_follows_path(user), method: :post  do %>
          <i class="far fa-heart" aria-hidden="ture" style="color: red;"></i>
          <% end %>  follows:<%= user.follows.count %> followers:<%= Follow.where(follow_id: user.id).count %>
        </td>
      <% end %>
      </tr>
    </table>
  <% end %>

  <h2 style="margin-top: 80px">New book</h2>
  <%= form_for(@book) do |f| %>
    <% if @book.errors.any? %>
        <%= @book.errors.count %>件のエラーが発生しました
        <% @book.errors.full_messages.each do |message| %>
            <%= message %>
        <% end %>
    <% end %>
    <p style="padding-top: 10px;">Title</p>
    <%= f.text_field :title, class: "col-xs-12 book_title" %>
    <p style="padding-top: 40px;">Opinion</p>
    <%= f.text_field :body, class: "col-xs-12 book_body" %>
    <div style="padding-top: 40px;">
      <%= f.submit "Create Book", class: "col-xs-12 btn btn-primary" %>
    </div>
  <% end %>
</section>